* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
}

.container--parent {
    height: 750px;
    
    background-image: url('img/backgrounds/bg_header_and_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 52px;
}

.wrapper--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 180px;
}

.link {
    margin-right: 49px;
    
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;

    transition: 0.5s;
}

.link:hover {
    color: #061e37;
}

.link--last {
    margin-right: 0px;
}

.header__button {
    width: 80px;
    height: 25px;

    font-size: 14px;
    color: #ffffff;

    border-radius: 5%;
    border: 1px solid;
    border-color: #ffffff;
    border-style: solid;
    
    background: Transparent;

    transition: 0.4s;
}

.header__button:hover {
    transform: scale(1.2);
    cursor: pointer
}

.main {
    margin-top: 170px;
}

.wrapper--main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invitation {
    display: flex;
    flex-direction: column;
}

.main__title {
    max-width: 420px;
    
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
}

.main__text {
    max-width: 530px;

    margin-bottom: 38px;

    font-size: 18px;
    color: #ffffff;
}

.form {
    max-width: 340px;
    
    display: flex;
    justify-content: space-between;
}

.main__button {
    height: 55px;

    border-radius: 5%;
    border: none;

    font-size: 14px;

    transition: 0.4s;
}

.main__button:hover {
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    cursor: pointer
}

.main__button--left {
    width: 150px;
    
    color: #eef0f2;

    background: #061e37;
}

.main__button--right {
    width: 160px;
    
    color: #061e37;
    font-weight: bold;

    background: #ffffff;
}

.video {
    width: 600px;
    height: 300px;

    border: 1px solid;
    border-color: #000000;
    border-radius: 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
}

.home {
    height: 600px;
    
    padding-top: 75px;
}

.wrapper--home {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.title {
    font-size: 32px;
    color: #061e37;
}

.home__subtitle {
    margin-top: 15px;
    
    font-size: 19px;
    color: #b0bec5;
}

.text {   
    max-width: 420px;

    text-align: center;

    font-size: 11px;
    color: #b0bec5;
}

.home__text {
    margin-top: 22px;
}

.wrapper--row {
    width: 100%;

    margin-top: 98px;
    margin-bottom: 78px;
    
    display: flex;
    justify-content: space-between;
}

.column {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.column__title {
    margin-top: 44px;
    
    font-size: 15px;
    color: #061e37;
}

.column__text {
    margin-top: 20px;
    
    text-align: center;
    
    font-size: 11px;
    color: #78909c;
}

.home__button {
    width: 150px;
    height: 55px;
    
    border-radius: 5%;
    border: none;
    
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;

    background: #1de9b6;

    transition: 0.5s;
}

.home__button:hover {
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    cursor: pointer
}

.ads {
    width: 100%;

    display: flex;
}

.ads__container {
    height: 150px;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__container--cyan {
    background: #80d8ff;
}

.ads__container--blue {
    background: #82b1ff;
}

.ads__container--purple {
    background: #b388ff;
}

.ads__container--pink {
    background: #ea80fc;
}

.ads__container__img {
    width: 60px;
    height: 60px;
}

.ads__container__text {
    margin-left: 24px;
    
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

.services {
    max-height: 1400px;
    
    padding-top: 75px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__text {
    margin-top: 30px;
}

.services__tables {
    margin-top: 50px;
    margin-bottom: 100px;
}

.table {
    width: 800px;

    margin-top: 20px;

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}

.table__title__container {
    height: 50px;
    
    display: flex;
    align-items: center;
}

.table__title__container:hover {
    cursor: pointer
}

.table__title__container :-webkit-details-marker {
    display: none;
}

.table__icon {
    width: 18px;
    
    margin-left: 20px;
}

.table__title {
    margin-left: 30px;

    font-size: 17px;
}

.table__text {
    max-width: none;

    padding: 0px 25px;
    
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    
    text-align: start;
}

.table__footer {
    display: flex;
}

.table__img {
    width: 250;
    
    margin-left: 25px;
    margin-bottom: 25px;
}

.table__text--down {
    margin-top: 25px;
}

.extension {
    width: 100%;
    height: 565px;

    padding-top: 87px;
    
    background-image: url("img/backgrounds/bg_extension.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper--extension {
    display: flex;
    justify-content: space-between;
}

.extension__title {
    width: 440px;

    font-size: 44px;
    color: #ffffff;
    font-weight: 500;
}

.extension__text {
    width: 514px;

    margin-top: 30px;
    
    font-size: 14px;
    color: #ffffff;
    text-align: start;
}

.extension__container--left {
    margin-top: 50px;
}

.extension__form__button {
    width: 150px;
    height: 55px;

    margin-top: 80px;
    
    border-radius: 5%;
    border: none;
    
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;

    background: #061e37;

    transition: 0.5s;
}

.extension__form__button:hover {
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    cursor: pointer
}

.name_tables_container__name_table {
    width: 450px;
    height: 160px;

    margin-left: 50px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 7px;
    
    background: #ffffff;
}

.extension__name_tables_container {
    display: flex;
    align-items: center;
}

.extension__name_tables_container--down {
    margin-top: 70px;
}

.name_table__description {
    width: 420px;
    
    margin-top: 20px;

    font-size: 14px;
    font-style: italic;
    color: #9caeb6;
}

.team {
    height: 650px;
    
    padding-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.team__text--top {
    margin-top: 30px;
}

.team__avatar_container {
    width: 460px;
    height: 360px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar_container__avatar {
    width: 100px;
    height: 100px;

    opacity: 0.3;

    border-radius: 50%;

    transition: 0.5s;
}

.avatar_container__avatar:hover {
    transform: scale(1.3);
    opacity: 1;

    box-shadow: 0 0 10px rgba(0,0,0,1.2);
}

.social_network_container {
    width: 200px;
   
    margin-top: 30px;
    
    display: flex;
    justify-content: space-between;
}

.social_network {
    height: 18px;
}

.footer {
    height: 150px;
    
    padding-top: 95px;
    
    background-color: #061e37;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_network_container--footer {
    float: right;
}



@media (max-width: 1170px) {
    .wrapper {
        max-width: 960px;
    }

    .video {
        width: 500px;
        height: 250px;
    }

    .ads {
        display: none;
    }

    .wrapper--extension {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .extension {
        height: auto;

        padding-bottom: 10px;
    }

    .extension__container--right {
        margin-top: 40px;
    }

    .name_tables_container__name_table {
        text-align: start;
    }
}

@media (max-width: 980px) {
    .wrapper {
        max-width: 768px;
    }

    .video {
        width: 400px;
        height: 200px;
    }

    .home {
        height: 1040px;
    }

    .wrapper--row {
        height: 650px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .table {
        width: 760px;
    }

    .extension__text {
        text-align: center;
    }
}

@media (max-width: 780px) {
    .wrapper {
        max-width: none;
        
        display: flex;
        flex-direction: column;    
    }

    .container--parent {
        height: 1000px;
        
        background-size: auto 1000px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .invitation {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        text-align: center;
    }

    .main__button {
        width: 130px;
    }
    
    .wrapper--header {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: none;
    }

    .main__button--left {
        margin-right: 20px;
    }

    .video {
        width: 280px;
        height: 140px;

        margin-top: 50px;
    }  

    .services {
        height: auto;
    }

    .table {
        width: 300px;
    }

    .table__img {
        display: none;
    }

    .text__wrapper {
        margin-bottom: 10px;
    }

    .services__tables {
        margin-bottom: 10px;
    }

    .extension__container--right {
        display: none;
    }

    .extension__title {
        width: auto;
        max-width: 460px;
    }

    .extension__text {
        width: auto;
        max-width: 460px;
    }

    .team__avatar_container {
        margin: 50px 0;
        width: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team__text {
        width: auto;
        max-width: 460px;
    }

    .team {
        padding-bottom: 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}